<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://iconarchive.com/download/i97950/thehoth/seo/seo-article.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Login</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/sign/main.css">
    <!-- Socket.io -->
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Go back to homepage -->
    <button id=back onclick="location.replace('/article')">Back</button>
    <!-- Login form -->
    <form action="/loginprocess" method="POST">
        <div style="width: 100%; text-align: center;">
            <h3>Login</h3>
        </div>
        <hr style="width: 70%;">
        <input type=text name="name" required placeholder="Name">
        <input type=password name="pass" required placeholder="Password"></input>
        <!-- Submit form to server to check login data -->
        <input type="submit" value="Login">
    </form>
</body>

</html>