<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://iconarchive.com/download/i97950/thehoth/seo/seo-article.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <title>Create new article</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/create/main.css">
    <!-- Socket.io -->
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Go back to homepage -->
    <button id=back onclick="location.replace('/article')">Back</button>
    <!-- Form -->
    <form action="/process" method="GET">
        <h3>Article</h3>
        <hr style="width: 70%;">
        <input type=text name="name" width="300px" placeholder="Article name...">
        <textarea type=text name="description" style="outline: none;"
            placeholder="Article description..."></textarea><br>
        <input type=text name="tag" width="300px" placeholder="Tag...">
        <!-- Submit to /process -->
        <input type="submit" value="Create">
    </form>
</body>

</html>