input[type=submit] {
    width: 60%;
    height: 30px;
    margin-top: 15px;
}

input {
    margin-top: 15px;
    width: 58%;
    margin-bottom: 15px;
    height: 30px;
    padding-left: 2%;
    outline: none;
} 

textarea {
    width: 56%;
    height: 20vh;
    margin-top: 15px;
    padding: 2%;
} 

form {
    width: 30%;
    height: 80vh;
    background-color: white;
    display: flex;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}

h3 {
    font-family: Lora, sans-serif;
    font-weight: 300;
}