@import "./form.css";

* {
    font-family: "Lato", sans-serif;
    letter-spacing: 0.5px;
}

#__next {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    position: absolute;
    top: 85vh;
    left: 38vw
}
