button {
    padding: 20px;
    font-size: 13px;
    letter-spacing: 0.5px; 
    color: white;
    background-color: #333;
    border: 0px;
    font-family: "Oxygen", sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#buttons {
    background-color: #333;
    display: flex;
}