#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  height: 7vh;
  position: fixed;
}

#input {
  font-family: "Oxygen", sans-serif;
  border: none;
  padding: 0 1rem;
  height: 80%;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 5px;
  outline: none;
  color: #fff;
  height: 80%;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form > button:hover {
  background-color: #111;
}
