button {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: white;
  background-color: #333;
  border: 0px;
  font-family: "Oxygen", sans-serif;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
	background-color: #111;
}

#buttons {
  display: flex;
  height: 7vh;
  background: #333;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
}
